<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Base resolvers -->
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Products" type="Magento\CatalogStoreFrontGraphQl\Resolver\Products" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Category\Products" type="Magento\CatalogStoreFrontGraphQl\Resolver\Category\Products" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\CategoryList" type="Magento\CatalogStoreFrontGraphQl\Resolver\Category\CategoryList" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\CategoryTree" type="Magento\CatalogStoreFrontGraphQl\Resolver\Category\CategoryTree" />

    <!-- Override deprecated resolvers with "model" hydration -->
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\MediaGalleryEntries" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\MediaGalleryEntries"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\Price" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\Price"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\NewFromTo" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\NewFromTo"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\Websites" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\Websites"/>
    <preference for="Magento\CatalogCmsGraphQl\Model\Resolver\Category\Block" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\Category\Block"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Category\Image" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\Category\Image"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\Options" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\Options"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\PriceRange" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\PriceRange"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\RelatedProducts" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\RelatedProducts\RelatedProducts"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\CrossSellProducts" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\RelatedProducts\CrossSellProducts"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\UpSellProducts" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\RelatedProducts\UpSellProducts"/>
    <preference for="Magento\CatalogCustomerGraphQl\Model\Resolver\PriceTiers" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\CatalogCustomer\PriceTiers"/>
    <preference for="Magento\CatalogCustomerGraphQl\Model\Resolver\TierPrices" type="Magento\CatalogStoreFrontGraphQl\Resolver\Deprecated\CatalogCustomer\TierPrices"/>
</config>
