<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Base resolvers -->
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Products" type="Magento\CatalogStorefrontGraphQl\Resolver\Products" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Category\Products" type="Magento\CatalogStorefrontGraphQl\Resolver\Category\Products" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\CategoryList" type="Magento\CatalogStorefrontGraphQl\Resolver\Category\CategoryList" />
    <preference for="Magento\CatalogGraphQl\Model\Resolver\CategoryTree" type="Magento\CatalogStorefrontGraphQl\Resolver\Category\CategoryTree" />

    <!-- Override deprecated resolvers with "model" hydration -->
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\MediaGalleryEntries" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\MediaGalleryEntries"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\Price" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\Price"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\NewFromTo" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\NewFromTo"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\Websites" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\Websites"/>
    <preference for="Magento\CatalogCmsGraphQl\Model\Resolver\Category\Block" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\Category\Block"/>
    <preference for="Magento\CatalogGraphQl\Model\Resolver\Product\PriceRange" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\PriceRange"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\RelatedProducts" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\RelatedProducts\RelatedProducts"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\CrossSellProducts" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\RelatedProducts\CrossSellProducts"/>
    <preference for="Magento\RelatedProductGraphQl\Model\Resolver\Batch\UpSellProducts" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\RelatedProducts\UpSellProducts"/>
    <preference for="Magento\CatalogCustomerGraphQl\Model\Resolver\PriceTiers" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\CatalogCustomer\PriceTiers"/>
    <preference for="Magento\CatalogCustomerGraphQl\Model\Resolver\TierPrices" type="Magento\CatalogStorefrontGraphQl\Resolver\Deprecated\CatalogCustomer\TierPrices"/>

    <!-- Remove @resolver from schema.graphqls fields, which should be handled on Storefront API -->
    <type name="Magento\StorefrontGraphQl\Plugin\SchemaReader">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="CategoryInterface" xsi:type="array">
                    <item name="breadcrumbs" xsi:type="string">breadcrumbs</item>
                    <item name="product_count" xsi:type="string">product_count</item>
                    <item name="canonical_url" xsi:type="string">canonical_url</item>
                    <item name="description" xsi:type="string">description</item>
                </item>
                <item name="ProductInterface" xsi:type="array">
                    <item name="id" xsi:type="string">id</item>
                    <item name="image" xsi:type="string">image</item>
                    <item name="small_image" xsi:type="string">small_image</item>
                    <item name="thumbnail" xsi:type="string">thumbnail</item>
                    <item name="media_gallery" xsi:type="string">media_gallery</item>
                    <item name="only_x_left_in_stock" xsi:type="string">only_x_left_in_stock</item>
                    <item name="stock_status" xsi:type="string">stock_status</item>
                    <item name="url_rewrites" xsi:type="string">url_rewrites</item>
                    <item name="product_links" xsi:type="string">product_links</item>
                    <item name="url_suffix" xsi:type="string">url_suffix</item>
                    <item name="categories" xsi:type="string">categories</item>
                    <item name="canonical_url" xsi:type="string">canonical_url</item>
                    <item name="description" xsi:type="string">description</item>
                    <item name="short_description" xsi:type="string">short_description</item>
                    <item name="options" xsi:type="string">options</item>
                </item>
                <item name="ConfigurableProduct" xsi:type="array">
                    <item name="variants" xsi:type="string">variants</item>
                    <item name="configurable_options" xsi:type="string">configurable_options</item>
                </item>
                <item name="ConfigurableVariant" xsi:type="array">
                    <item name="attributes" xsi:type="string">attributes</item>
                    <item name="product" xsi:type="string">product</item>
                </item>
                <item name="DownloadableProduct" xsi:type="array">
                    <item name="downloadable_product_samples" xsi:type="string">downloadable_product_samples</item>
                    <item name="downloadable_product_links" xsi:type="string">downloadable_product_links</item>
                </item>
                <item name="GroupedProduct" xsi:type="array">
                    <item name="items" xsi:type="string">items</item>
                </item>
                <item name="GroupedProductItem" xsi:type="array">
                    <item name="product" xsi:type="string">product</item>
                </item>
                <item name="MediaGalleryInterface" xsi:type="array">
                    <item name="url" xsi:type="string">url</item>
                    <item name="label" xsi:type="string">label</item>
                </item>
                <item name="Products" xsi:type="array">
                    <item name="aggregations" xsi:type="string">aggregations</item>
                </item>
                <item name="CategoryTree" xsi:type="array">
                    <item name="children" xsi:type="string">children</item>
                </item>
                <item name="BundleProduct" xsi:type="array">
                    <item name="price_view" xsi:type="string">price_view</item>
                    <item name="dynamic_price" xsi:type="string">dynamic_price</item>
                    <item name="dynamic_sku" xsi:type="string">dynamic_sku</item>
                    <item name="ship_bundle_items" xsi:type="string">ship_bundle_items</item>
                    <item name="dynamic_weight" xsi:type="string">dynamic_weight</item>
                    <item name="items" xsi:type="string">items</item>
                </item>
                <item name="BundleItem" xsi:type="array">
                    <item name="options" xsi:type="string">options</item>
                </item>
                <item name="BundleItemOption" xsi:type="array">
                    <item name="label" xsi:type="string">label</item>
                    <item name="product" xsi:type="string">product</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\StorefrontGraphQl\Plugin\CategoryAttributeReader">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="CategoryTree" xsi:type="array">
                    <item name="image" xsi:type="string">image</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
