<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogExtractor\DataProvider\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="stock_status" xsi:type="string">Magento\CatalogInventoryExtractor\DataProvider\StockStatusProvider</item>
                <item name="only_x_left_in_stock" xsi:type="string">Magento\CatalogInventoryExtractor\DataProvider\OnlyXLeftInStockProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Api\StockRegistryInterface">
        <plugin name="collectProductDataForStorefrontApplicationOnStockChange" type="Magento\CatalogInventoryExtractor\Plugin\CollectProductsDataForUpdateAfterStockUpdate" />
    </type>
    <type name="Magento\Config\Model\ResourceModel\Config">
        <plugin name="updateCategoriesDataOnStockConfigurationChange" type="Magento\CatalogInventoryExtractor\Plugin\UpdateCategoriesOnConfigurationChange" />
    </type>
</config>
