<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogCategoryApi\Api\CategorySearchInterface" type="Magento\CatalogCategory\Model\CategorySearch"/>
    <preference for="Magento\CatalogCategoryApi\Api\Data\CategoryResultContainerInterface" type="Magento\CatalogCategory\Model\CategorySearch\CategoryResultContainer"/>
    <preference for="Magento\CatalogCategoryApi\Api\Data\CategorySearchCriteriaInterface" type="Magento\CatalogCategory\Model\CategorySearch\CategorySearchCriteria"/>

    <preference for="Magento\CatalogCategory\DataProvider\DataProviderInterface" type="Magento\CatalogCategory\DataProvider\DataProvider"/>
    <type name="Magento\CatalogCategory\DataProvider\DataProvider">
        <arguments>
            <argument name="defaultDataProvider" xsi:type="string">Magento\CatalogCategory\DataProvider\CategoryDataProvider</argument>
            <argument name="dataProviders" xsi:type="array">
                <item name="breadcrumbs" xsi:type="string">Magento\CatalogCategory\DataProvider\BreadcrumbsDataProvider</item>
                <item name="description" xsi:type="string">Magento\CatalogCategory\DataProvider\DescriptionDataProvider</item>
                <item name="canonical_url" xsi:type="string">Magento\CatalogCategory\DataProvider\CanonicalUrlDataProvider</item>
                <item name="product_count" xsi:type="string">Magento\CatalogCategory\DataProvider\ProductsCountDataProvider</item>
                <item name="children" xsi:type="string">Magento\CatalogCategory\DataProvider\ChildrenDataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
