<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogMessageBroker\Model\MessageBus\Data\ExportMessageInterface" type="Magento\CatalogMessageBroker\Model\MessageBus\Data\ExportMessage" />
    <preference for="Magento\CatalogMessageBroker\Model\MessageBus\Data\DataInterface" type="Magento\CatalogMessageBroker\Model\MessageBus\Data\Data" />
    <preference for="Magento\CatalogMessageBroker\Model\MessageBus\Data\MetaInterface" type="Magento\CatalogMessageBroker\Model\MessageBus\Data\Meta" />
    <preference for="Magento\CatalogMessageBroker\Model\FetchProductsInterface" type="Magento\CatalogMessageBroker\Model\FetchProducts"/>
    <preference for="Magento\CatalogMessageBroker\Model\FetchCategoriesInterface" type="Magento\CatalogMessageBroker\Model\FetchCategories"/>
    <type name="Magento\CatalogMessageBroker\Model\ProductDataProcessor">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="options" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\CustomOptions</item>
                <item name="configurable_options" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\ConfigurableOptions</item>
                <item name="items" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\BundleItems</item>
                <item name="dynamic_attributes" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\DynamicAttribute</item>
                <item name="media_gallery" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\MediaGallery</item>
                <item name="swatch_image" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\SwatchImage</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogMessageBroker\Model\DataMapper\DynamicAttribute">
        <arguments>
            <argument name="attributePool" xsi:type="array">
                <item name="boolean" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\BooleanType</item>
                <item name="select" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\SelectOptionType</item>
                <item name="text" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\Type</item>
                <item name="price" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\Type</item>
                <item name="multiselect" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\MultiselectOptionType</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogMessageBroker\Model\MessageBus\ConsumerEventInterfaceFactory">
        <arguments>
            <argument name="eventTypeMap" xsi:type="array">
                <item name="categories_updated" xsi:type="string">
                    Magento\CatalogMessageBroker\Model\MessageBus\Category\PublishCategoriesConsumer
                </item>
                <item name="categories_deleted" xsi:type="string">
                    Magento\CatalogMessageBroker\Model\MessageBus\Category\DeleteCategoriesConsumer
                </item>
                <item name="products_updated" xsi:type="string">
                    Magento\CatalogMessageBroker\Model\MessageBus\Product\PublishProductsConsumer
                </item>
                <item name="products_deleted" xsi:type="string">
                    Magento\CatalogMessageBroker\Model\MessageBus\Product\DeleteProductsConsumer
                </item>
            </argument>
        </arguments>
    </type>
</config>
