<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogMessageBroker\Model\FetchProductsInterface" type="Magento\CatalogMessageBroker\Model\FetchProducts"/>
    <type name="Magento\CatalogMessageBroker\Model\ProductDataProcessor">
        <arguments>
            <argument name="dataMappers" xsi:type="array">
                <item name="options" xsi:type="array">
                    <item name="class" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\CustomOptions</item>
                </item>
                <item name="configurable_options" xsi:type="array">
                    <item name="class" xsi:type="object">Magento\CatalogMessageBroker\Model\DataMapper\ConfigurableOptions</item>
                    <item name="types" xsi:type="array">
                        <item name="configurable" xsi:type="string">configurable</item>
                    </item>
                    <item name="recursive" xsi:type="boolean">true</item>
                </item>
            </argument>

            <argument name="fields" xsi:type="array">
                <item name="id" xsi:type="string">id</item>
                <item name="sku" xsi:type="string">sku</item>
                <item name="name" xsi:type="string">name</item>
                <item name="meta_description" xsi:type="string">meta_description</item>
                <item name="meta_keyword" xsi:type="string">meta_keyword</item>
                <item name="meta_title" xsi:type="string">meta_title</item>
                <item name="created_at" xsi:type="string">created_at</item>
                <item name="updated_at" xsi:type="string">updated_at</item>
            </argument>
        </arguments>
    </type>
</config>
