<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogStorefrontConnector\Model\Data\ReindexProductsDataInterface" type="Magento\CatalogStorefrontConnector\Model\Data\ReindexProductsData"/>
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="collectDataForStorefrontApplication" type="Magento\CatalogStorefrontConnector\Plugin\CollectDataForUpdate" />
    </type>
    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="storefront.catalog.data.updates" xsi:type="string">Magento\CatalogStorefrontConnector\Model\Merger</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefrontConnector\Model\Publisher\ProductPublisher">
        <arguments>
            <argument name="batchSize" xsi:type="number">500</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="storefront:catalog:sync" xsi:type="object">Magento\CatalogStorefrontConnector\Command\Sync</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogStorefrontConnector\Command\Sync">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
            <argument name="productPublisher" xsi:type="object">Magento\CatalogStorefrontConnector\Model\Publisher\ProductPublisher\Proxy</argument>
        </arguments>
    </type>
</config>
