<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogStorefrontConnector\Model\Data\UpdatedEntitiesDataInterface" type="Magento\CatalogStorefrontConnector\Model\Data\UpdatedEntitiesData"/>

    <!-- Listen events to get product/category updates -->
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext">
        <plugin name="collectDataForStorefrontApplication" type="Magento\CatalogStorefrontConnector\Plugin\CollectProductsDataForUpdate" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="collectCategoryDataForStorefrontApplication" type="Magento\CatalogStorefrontConnector\Plugin\CollectCategoriesDataForUpdate" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="collectCategoryDataForStorefrontApplicationOnSave" type="Magento\CatalogStorefrontConnector\Plugin\CollectProductsDataOnSave" />
    </type>
    <type name="Magento\CatalogInventory\Api\StockRegistryInterface">
        <plugin name="collectProductDataForStorefrontApplicationOnStockChange" type="Magento\CatalogStorefrontConnector\Plugin\CollectProductsDataForUpdateAfterStockUpdate" />
    </type>
    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="storefront.catalog.product.update" xsi:type="string">Magento\CatalogStorefrontConnector\Model\Merger</item>
                <item name="storefront.catalog.category.update" xsi:type="string">Magento\CatalogStorefrontConnector\Model\Merger</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefrontConnector\Model\Publisher\ProductPublisher">
        <arguments>
            <argument name="batchSize" xsi:type="number">500</argument>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefrontConnector\Model\Publisher\CategoryPublisher">
        <arguments>
            <argument name="batchSize" xsi:type="number">500</argument>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="storefront:catalog:sync" xsi:type="object">Magento\CatalogStorefrontConnector\Command\Sync</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefrontConnector\Command\Sync">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
            <argument name="productPublisher" xsi:type="object">Magento\CatalogStorefrontConnector\Model\Publisher\ProductPublisher\Proxy</argument>
            <argument name="categoryPublisher" xsi:type="object">Magento\CatalogStorefrontConnector\Model\Publisher\CategoryPublisher\Proxy</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <virtualType name="CatalogStorefrontConnectorLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">\Magento\CatalogStorefrontConnector\Model\Logging\Error</item>
                <item name="debug" xsi:type="object">Magento\CatalogStorefrontConnector\Model\Logging\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogStorefrontConnector\Plugin\ProductUpdatesPublisher">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefrontConnector\Plugin\CollectCategoriesDataForUpdate">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>

</config>
