<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogExtractor\DataProvider\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="ConfigurableProduct.configurable_options" xsi:type="string">Magento\ConfigurableProductExtractor\DataProvider\VariantsDataProvider</item>
                <item name="ConfigurableProduct.variants" xsi:type="string">Magento\ConfigurableProductExtractor\DataProvider\VariantsDataProvider</item>
            </argument>
            <argument name="productTypesMap" xsi:type="array">
                <item name="ConfigurableProduct.configurable_options" xsi:type="string">configurable</item>
                <item name="ConfigurableProduct.variants" xsi:type="string">configurable</item>
            </argument>
        </arguments>
    </type>
</config>
