<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogStorefrontConnector\DataProvider\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="GroupedProduct.items" xsi:type="string">Magento\GroupedProductExtractor\DataProvider\GroupedProductsDataProvider</item>
            </argument>
            <argument name="productTypesMap" xsi:type="array">
                <item name="GroupedProduct.items" xsi:type="string">grouped</item>
            </argument>
        </arguments>
    </type>
</config>
