<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <services_connector>
            <production_gateway_url>https://api.magento.com/</production_gateway_url>
            <sandbox_gateway_url>https://sandbox.api.magento.com/</sandbox_gateway_url>
            <api_portal_url>https://account.magento.com/apiportal/index/index/</api_portal_url>
        </services_connector>
    </default>
</config>
