<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Product search -->
    <preference for="Magento\CatalogStorefrontApi\Api\CatalogInterface" type="Magento\CatalogStorefrontApi\Api\InMemoryCatalog"/>
    <preference for="Magento\CatalogStorefrontApi\Api\CatalogServerInterface" type="Magento\CatalogStorefront\Model\CatalogService"/>
    <preference for="Magento\CatalogStorefront\Model\Storage\Client\DataDefinitionInterface" type="Magento\CatalogStorefront\Model\Storage\Client\ElasticsearchDataDefinitionAdapter"/>
    <preference for="Magento\CatalogStorefront\Model\Storage\Client\QueryInterface" type="Magento\CatalogStorefront\Model\Storage\Client\ElasticsearchQuery"/>
    <preference for="Magento\CatalogStorefront\Model\Storage\Client\CommandInterface" type="Magento\CatalogStorefront\Model\Storage\Client\ElasticsearchCommand"/>
    <preference for="Magento\CatalogStorefrontApi\Api\VariantServiceInterface" type="Magento\CatalogStorefrontApi\Api\InMemoryVariantService"/>
    <preference for="Magento\CatalogStorefrontApi\Api\VariantServiceServerInterface" type="Magento\CatalogStorefront\Model\VariantService"/>

    <type name="Magento\CatalogStorefront\Model\Storage\Client\Config\EntityConfigPool">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="product" xsi:type="object">Magento\CatalogStorefront\Model\Storage\Client\Config\Product</item>
                <item name="category" xsi:type="object">Magento\CatalogStorefront\Model\Storage\Client\Config\Category</item>
                <item name="product_variant" xsi:type="object">Magento\CatalogStorefront\Model\Storage\Client\Config\ProductVariant</item>
            </argument>
        </arguments>
    </type>

    <!-- Temporary solution until introducing unified schema for complex storage -->
    <type name="Magento\CatalogStorefront\DataProvider\LinkedEntityHydrator">
        <arguments>
            <argument name="productDataProvider" xsi:type="object">\Magento\CatalogStorefront\DataProvider\ProductDataProvider\Proxy</argument>
            <argument name="categoryDataProvider" xsi:type="object">\Magento\CatalogStorefront\DataProvider\CategoryDataProvider\Proxy</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <virtualType name="CatalogStorefrontLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">\Magento\CatalogStorefront\Model\Logging\Error</item>
                <item name="debug" xsi:type="object">Magento\CatalogStorefront\Model\Logging\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogStorefront\Model\CatalogRepository">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefront\DataProvider\ProductDataProvider">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefront\DataProvider\CategoryDataProvider">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefront\Model\Storage\Client\ElasticsearchQuery">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontLogger</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogStorefront\Model\CatalogService">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontLogger</argument>
        </arguments>
    </type>
</config>
