<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQlSchemaStitching\GraphQlReader">
        <plugin name="removeResolversForFieldsProcessedOnSF" type="Magento\StorefrontGraphQl\Plugin\SchemaReader" />
    </type>
    <type name="Magento\CatalogGraphQl\Model\Config\CategoryAttributeReader">
        <plugin name="removeResolversForCategoryFieldsProcessedOnSF" type="Magento\StorefrontGraphQl\Plugin\CategoryAttributeReader" />
    </type>

    <type name="Magento\StorefrontGraphQl\Model\Query\ScopeProvider">
        <arguments>
            <argument name="scopes" xsi:type="array">
                <item name="customer_group" xsi:type="object">Magento\StorefrontGraphQl\Model\Query\ScopeProvider\CustomerGroup</item>
                <item name="store" xsi:type="object">Magento\StorefrontGraphQl\Model\Query\ScopeProvider\StoreScope</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CustomerGraphQl\Model\Context\AddUserInfoToContext">
        <plugin name="addCustomerGroup" type="Magento\StorefrontGraphQl\Plugin\AddCustomerGroupToContext" />
    </type>

    <type name="Magento\StorefrontGraphQl\Model\ArgumentResolver">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Reflection</argument>
        </arguments>
    </type>
</config>
