<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogProductApi\Api\ProductSearchInterface" type="Magento\CatalogProduct\Model\ProductSearch"/>
    <preference for="Magento\CatalogProductApi\Api\Data\ProductResultContainerInterface" type="Magento\CatalogProduct\Model\ProductSearch\ProductResultContainer"/>
    <preference for="Magento\CatalogProductApi\Api\Data\ProductSearchCriteriaInterface" type="Magento\CatalogProduct\Model\ProductSearch\ProductSearchCriteria"/>
    <preference for="Magento\CatalogProduct\Model\Storage\Client\DataDefinitionInterface" type="Magento\CatalogProduct\Model\Storage\Client\ElasticsearchDataDefinitionAdapter"/>
    <preference for="Magento\CatalogProduct\Model\Storage\Client\QueryInterface" type="Magento\CatalogProduct\Model\Storage\Client\ElasticsearchQuery"/>
    <preference for="Magento\CatalogProduct\Model\Storage\Client\CommandInterface" type="Magento\CatalogProduct\Model\Storage\Client\ElasticsearchCommand"/>

    <preference for="Magento\CatalogProduct\DataProvider\DataProviderInterface" type="Magento\CatalogProduct\DataProvider\DataProvider"/>
    <type name="Magento\CatalogProduct\DataProvider\MediaGallery\ImageUrlResolver">
        <arguments>
            <argument name="imageHelper" xsi:type="object">\Magento\Catalog\Helper\Image\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogProduct\DataProvider\DataProvider">
        <arguments>
            <argument name="defaultDataProvider" xsi:type="string">Magento\CatalogProduct\DataProvider\EavAttributeProvider</argument>
            <argument name="dataProviders" xsi:type="array">
                <item name="media_gallery" xsi:type="string">Magento\CatalogProduct\DataProvider\MediaGallery\MediaGalleryProvider</item>
                <item name="url_rewrites" xsi:type="string">Magento\CatalogProduct\DataProvider\UrlRewrites\UrlRewritesDataProvider</item>
                <item name="product_links" xsi:type="string">Magento\CatalogProduct\DataProvider\Link\Provider</item>
                <item name="url_suffix" xsi:type="string">Magento\CatalogProduct\DataProvider\UrlRewrites\ProductUrlSuffix</item>
                <item name="categories" xsi:type="string">Magento\CatalogProduct\DataProvider\Category\ProductCategoriesDataProvider</item>
                <item name="canonical_url" xsi:type="string">Magento\CatalogProduct\DataProvider\CanonicalUrl\CanonicalUrlDataProvider</item>
                <item name="CustomizableProductInterface.options" xsi:type="string">Magento\CatalogProduct\DataProvider\Options\CustomizableOptions</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogProduct\DataProvider\Transformer">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="image" xsi:type="string">Magento\CatalogProduct\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="small_image" xsi:type="string">Magento\CatalogProduct\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="thumbnail" xsi:type="string">Magento\CatalogProduct\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="short_description" xsi:type="string">Magento\CatalogProduct\DataProvider\Transformer\DescriptionTransformer</item>
                <item name="description" xsi:type="string">Magento\CatalogProduct\DataProvider\Transformer\DescriptionTransformer</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogProduct\DataProvider\LayeredNavigation\LayerBuilder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="price_bucket" xsi:type="object">Magento\CatalogProduct\DataProvider\LayeredNavigation\Builder\Price</item>
                <item name="category_bucket" xsi:type="object">Magento\CatalogProduct\DataProvider\LayeredNavigation\Builder\Category</item>
                <item name="attribute_bucket" xsi:type="object">Magento\CatalogProduct\DataProvider\LayeredNavigation\Builder\Attribute</item>
            </argument>
        </arguments>
    </type>

    <!-- Add-hoc solution -->
    <type name="Magento\CatalogProduct\Model\ProductSearch">
        <arguments>
            <argument name="search" xsi:type="object">Magento\CatalogProduct\Framework\Search\Search</argument>
        </arguments>
    </type>

    <type name="Magento\CatalogProduct\Model\Storage\Client\Config\EntityConfigPool">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="product" xsi:type="object">Magento\CatalogProduct\Model\Storage\Client\Config\Product</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogProduct\DataProvider\LinkedEntityHydrator">
        <arguments>
            <argument name="productDataProvider" xsi:type="object">\Magento\CatalogProduct\DataProvider\ProductDataProvider\Proxy</argument>
            <argument name="categoryDataProvider" xsi:type="object">\Magento\CatalogProduct\DataProvider\CategoryDataProvider\Proxy</argument>
            <argument name="linkedEntityPath" xsi:type="array">
                <item name="product" xsi:type="array">
                    <item xsi:type="string" name="BundleProduct">BundleProduct:items.options.product</item>
                    <item xsi:type="string" name="ConfigurableProduct">ConfigurableProduct:variants.product</item>
                    <item xsi:type="string" name="GroupedProduct">GroupedProduct:items.product</item>
                </item>
                <item name="category" xsi:type="array">
                    <item xsi:type="string" name="categories">categories</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
