<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Data providers -->
    <preference for="Magento\CatalogExtractor\DataProvider\DataProviderInterface" type="Magento\CatalogExtractor\DataProvider\DataProvider"/>

    <type name="Magento\CatalogExtractor\DataProvider\DataProvider">
        <arguments>
            <argument name="defaultDataProvider" xsi:type="string">Magento\CatalogExtractor\DataProvider\EavAttributeProvider</argument>
            <argument name="dataProviders" xsi:type="array">
                <item name="product_links" xsi:type="string">Magento\CatalogExtractor\DataProvider\Link\Provider</item>
                <item name="url_suffix" xsi:type="string">Magento\CatalogExtractor\DataProvider\UrlRewrites\ProductUrlSuffix</item>
            </argument>
        </arguments>
    </type>
</config>
