<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Data providers -->
    <preference for="Magento\CatalogExtractor\DataProvider\DataProviderInterface" type="Magento\CatalogExtractor\DataProvider\DataProvider"/>
    <type name="Magento\CatalogExtractor\DataProvider\MediaGallery\ImageUrlResolver">
        <arguments>
            <argument name="imageHelper" xsi:type="object">\Magento\Catalog\Helper\Image\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogExtractor\DataProvider\DataProvider">
        <arguments>
            <argument name="defaultDataProvider" xsi:type="string">Magento\CatalogExtractor\DataProvider\EavAttributeProvider</argument>
            <argument name="dataProviders" xsi:type="array">
                <item name="media_gallery" xsi:type="string">Magento\CatalogExtractor\DataProvider\MediaGallery\MediaGalleryProvider</item>
                <item name="url_rewrites" xsi:type="string">Magento\CatalogExtractor\DataProvider\UrlRewrites\UrlRewritesDataProvider</item>
                <item name="product_links" xsi:type="string">Magento\CatalogExtractor\DataProvider\Link\Provider</item>
                <item name="url_suffix" xsi:type="string">Magento\CatalogExtractor\DataProvider\UrlRewrites\ProductUrlSuffix</item>
                <item name="categories" xsi:type="string">Magento\CatalogExtractor\DataProvider\Category\ProductCategoriesDataProvider</item>
                <item name="canonical_url" xsi:type="string">Magento\CatalogExtractor\DataProvider\CanonicalUrl\CanonicalUrlDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogExtractor\DataProvider\Transformer">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="image" xsi:type="string">Magento\CatalogExtractor\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="small_image" xsi:type="string">Magento\CatalogExtractor\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="thumbnail" xsi:type="string">Magento\CatalogExtractor\DataProvider\MediaGallery\ProductImageTransformer</item>
                <item name="short_description" xsi:type="string">Magento\CatalogExtractor\DataProvider\Transformer\DescriptionTransformer</item>
                <item name="description" xsi:type="string">Magento\CatalogExtractor\DataProvider\Transformer\DescriptionTransformer</item>
            </argument>
        </arguments>
    </type>
</config>
