<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogExportApi\Api\ProductRepositoryInterface" type="Magento\CatalogExport\Model\ProductRepository"/>
    <preference for="Magento\CatalogDataExporter\Model\Indexer\IndexerCallbackInterface" type="Magento\CatalogExport\Model\Indexer\IndexerCallback" />

    <type name="Magento\CatalogExport\Model\ProductRepository">
        <arguments>
            <argument name="logger" xsi:type="object">CatalogStorefrontConnectorLogger</argument>
        </arguments>
    </type>
</config>
