<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogExport\Api\Data\ProductInterface" type="Magento\CatalogExport\Model\Data\Product"/>
    <preference for="Magento\CatalogExport\Api\Data\AttributeInterface" type="Magento\CatalogExport\Model\Data\Attribute"/>
    <preference for="Magento\CatalogExport\Api\Data\PriceInterface" type="Magento\CatalogExport\Model\Data\Price"/>
    <preference for="Magento\CatalogExport\Api\ProductRepositoryInterface" type="Magento\CatalogExport\Model\ProductRepository"/>
</config>
