<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogConfigurableProduct\DataProvider\Query\ProductVariantsBuilder">
        <plugin name="afterGetSelect" type="Magento\CatalogInventoryStorefront\Model\Plugin\StockStatusQuery" />
    </type>

    <type name="Magento\CatalogProduct\DataProvider\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="stock_status" xsi:type="string">Magento\CatalogInventoryStorefront\DataProvider\StockStatusProvider</item>
                <item name="only_x_left_in_stock" xsi:type="string">Magento\CatalogInventoryStorefront\DataProvider\OnlyXLeftInStockProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogCategory\DataProvider\Query\ProductsCountBuilder">
        <plugin name="addStockFilter" type="Magento\CatalogInventoryStorefront\Plugin\Resolver\Category\DataProvider\ProductCountStockFilter" />
    </type>

    <type name="Magento\CatalogProduct\DataProvider\LinkedEntityProvider">
        <arguments>
            <argument name="productDataProvider" xsi:type="object">\Magento\CatalogProduct\DataProvider\ProductDataProvider\Proxy</argument>
            <argument name="categoryDataProvider" xsi:type="object">\Magento\CatalogProduct\DataProvider\CategoryDataProvider\Proxy</argument>
            <argument name="linkedEntityPath" xsi:type="array">
                <item name="product" xsi:type="array">
                    <item xsi:type="string" name="bundle-products">items.options.product</item>
                    <item xsi:type="string" name="configurable">variants.product</item>
                </item>
                <item name="category" xsi:type="array">
                    <item xsi:type="string" name="categories">categories</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
