<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogConfigurableProduct\DataProvider\Query\ProductVariantsBuilder">
        <plugin name="afterGetSelect" type="Magento\CatalogInventoryStorefront\Model\Plugin\StockStatusQuery" />
    </type>

    <type name="Magento\CatalogProduct\DataProvider\DataProvider">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="stock_status" xsi:type="string">Magento\CatalogInventoryStorefront\DataProvider\StockStatusProvider</item>
                <item name="only_x_left_in_stock" xsi:type="string">Magento\CatalogInventoryStorefront\DataProvider\OnlyXLeftInStockProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogCategory\DataProvider\Query\ProductsCountBuilder">
        <plugin name="addStockFilter" type="Magento\CatalogInventoryStorefront\Plugin\Resolver\Category\DataProvider\ProductCountStockFilter" />
    </type>
    <type name="Magento\CatalogInventory\Api\StockRegistryInterface">
        <plugin name="collectProductDataForStorefrontApplicationOnStockChange" type="Magento\CatalogInventoryStorefront\Plugin\CollectProductsDataForUpdateAfterStockUpdate" />
    </type>
</config>
